<hr class="hr-near-below">

<div class="row">
    <div class="list-inline" style="text-align: center;">
        Alameda Mamoré II, Quadra C 02, Conjunto 05, Edifício Via Horizonte, 72.897-900, Cidade Ocidental, Goiás.<br>
        <br>
    </div>
</div>

<div class="container">
  <footer>
    <ul class="list-inline" style="text-align: center;">
      <li>Copyright <a href="/docs/devs">VHZ Team</a> and other contributors.</a></li><br>
      <li><a href="https://viahorizonte.life/">https://viahorizonte.life</a> & <a href="mailto:contato@viahorizonte.life">contato@viahorizonte.life</a></li><br>
      <li>Este site foi construído utilizando o <a href="https://www.11ty.dev">Eleventy!</a></li><br>
      <li><a href="https://github.com/viahorizonte/site/">GitHub Repo</a> + <a href="https://github.com/viahorizonte/site/actions">GitHub Actions</a></li><br>
      <li><img src="https://github.com/viahorizonte/site/workflows/CI/badge.svg"></li><br><br>

      {% if edit_link %}
        <li><a href="{{ edit_link }}">Edit this page</a></li>
      {% else %}
        <li><a href="https://github.com/viahorizonte/site/edit/master/{{ page.inputPath }}">Edit this page</a></li>
      {% endif %}
    </ul>
  </footer>
</div>
<script src="/assets/js/main.js"></script>
<script src="https://kit.fontawesome.com/6ebce1c175.js" crossorigin="anonymous"></script>


